<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      オシャレって簡単で楽しい
    </h2>
    <p class='service-explain'>
      Stylusならあなたに合うスタイルが簡単に見つかる
    </p>
    <p class='service-explain'>
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      Stylusの特徴
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "exp1.png", class:"list-pict" %>
        <span class='reason-list-number'></span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'></span>
          簡単検索
        </h3>
        <p class='reason-list-description'>
          体型や年齢に合わせて、自分に合うスタイルが簡単に検索できる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "exp2.png", class:"list-pict" %>
        <span class='reason-list-number'></span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'></span>
          失敗しない
        </h3>
        <p class='reason-list-description'>
          スタイラスなら、自分に合ったスタイルをまとめて一式買えるから、失敗しない！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "exp3.png", class:"list-pict" %>
        <span class='reason-list-number'></span>
        <h3 class='reason-list-text'>
          まとめてお得
          <span class='reason-list-blue-text'></span>
        </h3>
        <p class='reason-list-description'>
          スタイルをまとめて一式購入すれば、必ずお得！
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      オシャレのプロ達が選ぶスタイル
    </h2>
    <p class='ad-explain'>
      Stylusでは、オシャレのプロフェッショナル達が厳選したアイテムをトータルコーディネートし、
    </p>
    <p class='ad-explain'>
      本当にオシャレなスタイルだけを提案しています。
    </p>
    <p class='ad-explain'>
      あなたに合ったスタイルがきっと見つかります。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      Stylusで失敗しないファッション選びとは
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "explanation1.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          体型に合うスタイルを選ぶ
        </h3>
        <p class='feature-list-description'>
          体型によって似合う、または似合わないファッションスタイルがあります。Stylusなら自分の体型に合ったスタイルを検索できるので、体型に合わない洋服を選ぶ心配がありません。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "explanation3.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          年齢に合うスタイルを選ぶ
        </h3>
        <p class='feature-list-description'>
          ご自身の見ため年齢によっても似合うファッションスタイルは変わってきます。見ため年齢とギャップが大きいファッションは周囲が違和感を感じます。年齢にも合うスタイルを選びましょう。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "explanation3.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          スタイル一式を購入する
        </h3>
        <p class='feature-list-description'>
          ファッションで失敗する大きな要因の一つは「コーディネート」です。Stylusの掲載スタイルはファッションのプロ達がコーディネートしたスタイルです。一式揃えて失敗のない洋服選びをしましょう。
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAの特徴 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>スタイル一覧</h2>
    <%= link_to '投稿スタイル', "#", class: "subtitle" %>

    <h1>商品検索</h1>
    <%= search_form_for @p, url: search_path do |f| %>
      <%= f.label :type_eq, 'スタイルタイプ' %>
      <%= f.collection_select :type_id_eq, Type.where.not(id: 1), :id, :name,  include_blank: '指定なし' %>
      <%= f.label :type_eq, 'シーズン' %>
      <%= f.collection_select :season_id_eq, Season.where.not(id: 1), :id, :name,  include_blank: '指定なし' %>
      <%= f.label :type_eq, '対象年齢' %>
      <%= f.collection_select :age_id_eq, Age.where.not(id: 1), :id, :name,  include_blank: '指定なし' %>
      <br>
      <%= f.label :type_eq, '身長' %>
      <%= f.collection_select :height_id_eq, Height.where.not(id: 1), :id, :name,  include_blank: '指定なし' %>
      <%= f.label :type_eq, '体型' %>
      <%= f.collection_select :body_figure_id_eq, BodyFigure.where.not(id: 1), :id, :name,  include_blank: '指定なし' %>
      <%= f.label :type_eq, '発送日' %>
      <%= f.collection_select :shipping_date_id_eq, ShippingDate.where.not(id: 1), :id, :name,  include_blank: '指定なし' %>
      <br>
      <%= f.radio_button :total_price_lteq, '' %>
      指定なし
      <%= f.radio_button :total_price_lteq, '10000' %>
      10000円以下
      <%= f.radio_button :total_price_lteq, '20000' %>
      20000円以下
      <br>
      <%= f.radio_button :total_price_lteq, '30000' %>
      30000円以下
      <%= f.radio_button :total_price_lteq, '40000' %>
      40000円以下
      <%= f.radio_button :total_price_lteq, '50000' %>
      50000円以下
      <br>
      <%= f.submit '検索' %>
    <% end %>

    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <% @style.each do |style| %>
      <li class='list'>
        <%= link_to image_tag(style.image, class: "item-img"), style_path(style.id) %>
        <div class='item-img-content'>

          <%# 商品が売れていればsold outを表示しましょう %>
          <%# <div class='sold-out'>
            <span>Sold Out!!</span>
          </div> %>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= style.name %>
          </h3>
          <div class='item-price'>
            <span>¥<%= style.total_price %><br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      </li>
      <% end %>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
  <a href="#">
<%= link_to image_tag('camera.png' , size: '185x50' ,class: "purchase-btn-icon"), new_style_path %>
  </a>
</div>
<%= render "shared/footer" %>